.Home
  .Fv
    .Fv__logo
    .Fv__main
  .only-sp
    .GuidebookSearch
      %form.GuidebookSearch__box{:action => "#", :method => "get"}
        %input#company.GuidebookSearch__box__input{:name => "company", :placeholder => "高校名で検索 掲載校数1,000校！！", :required => "", :type => "text", :value => ""}/
        .GuidebookSearch__box__submit
          .GuidebookSearch__box__submit__img
          %input.GuidebookSearch__box__submit__input{type: "hidden",class:"fa_fa-search"}/
          =link_to "#" do
            =fa_icon 'search'
  .Logo
    .Logo__list
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
      .Logo__list__box
        .Logo__list__box__item
          .Logo__list__box__item__img
  .Rank--home
    .Rank__box__title
      ランク別
    .Rank__box__list
      %a.Rank__box__list__link_king{:href => "#"}
        %a.Rank__box__list__link__img_king{:src => "#"}/
      %a.Rank__box__list__link_ss{:href => "#"}
        %a.Rank__box__list__link__img_ss{ :src => "#"}/
      %a.Rank__box__list__link_s{:href => "#"}
        %a.Rank__box__list__link__img_s{:src => "#"}/
      %a.Rank__box__list__link_a{:href => "#"}
        %a.Rank__box__list__link__img_a{:src => "#"}/
  .Content__king
    .Content__box
      .Content__box__title
        %img.Content__box__title__img{:alt => "神RANK", :src => "https://www.motesetu.com/wp-content/themes/ANGEL-%E5%AD%90%E3%83%86%E3%83%BC%E3%83%9E/image/guidebook_2/KAMIRANK.png"}/
      .Content__box__text
        高校市場において、中学生人気が最も高い高校がこちら、難関国立大学への進学校であり、主体性や多様性を持ち備えた生徒が多く、比較的校則もゆるい高校が多い。華やかさ、文武、性格ともに高い平均点をたたき出した。
      .Content__box__list
        %a.ContentBox_king_1{:href => "#"}
          .ContentBox__main__text
            開成高等学校
          .ContentBox__kaisei
        %a.ContentBox_king_2{:href => "#"}
          .ContentBox__main__text
            灘高等学校
          .ContentBox__nada
      .Content__box__more
        %a.Content__box__more__btn{:href => "#"}
          .Content__box__more__btn__text
            すべてみる
  .Content__ss
    .Content__box
      .Content__box__title
        %img.Content__box__title__img{:alt => "SSRANK", :src => "https://www.motesetu.com/wp-content/themes/ANGEL-%E5%AD%90%E3%83%86%E3%83%BC%E3%83%9E/image/guidebook_2/SSRANK.png"}/
      .Content__box__text
        一般的な中学生人気が高いSSランク、神ランクよりは劣るものの充実したスクールライフを送りたい学生からラブコールを受ける。生徒には自主自立した生徒も多く勉強、部活、恋愛に従順することができる。進学実績も多く楽しそうな高校がランクイン。
      .Content__box__list
        .ContentBox_ss_1
          %a.ContentBox__main__text{:href => "#"}
            御茶ノ水高校
          .ContentBox__otyanomizu
      .Content__box__more
        %a.Content__box__more__btn{:href => "#"}
          .Content__box__more__btn__text
            すべてみる
  .Content__s
    .Content__box
      .Content__box__title
        %img.Content__box__title__img{:alt => "SRANK", :src => "https://www.motesetu.com/wp-content/themes/ANGEL-%E5%AD%90%E3%83%86%E3%83%BC%E3%83%9E/image/guidebook_2/SRANK.png"}/
      .Content__box__text
        中学生からの人気、勉強、部活動共に安定的な高校がランクイン。一般的には知名度が低い高校も、安定した就職や自分の望む進路選択ができる高校が浮上した。校則が若干厳しめな高校もあるが、まだまだ生徒の自主性をはぐくむ校風が息づいている高校が多い。
      .Content__box__list
        .ContentBox
          %a.ContentBox__main__text{:href => "#"}
            筑波高等学校
          .ContentBox__kaisei
      .Content__box__more
        .Content__box__more__btn
          %a.Content__box__more__btn{:href => "#"}
            すべてみる
  .Content__a
    .Content__box
      .Content__box__title
        %img.Content__box__title__img{:alt => "ARANK", :src => "https://www.motesetu.com/wp-content/themes/ANGEL-%E5%AD%90%E3%83%86%E3%83%BC%E3%83%9E/image/guidebook_2/ARANK.png"}/
      .Content__box__text
        専門的な知識を学ぶ生徒や卒業後は就職を望む生徒もちらほら見受けられるAランク。そのため資格などを積極的取りに行く環境も整えられいる。『部活に集中しすぎて、学業が厳かになりがち』と言った厳しめの意見も寄せられた。
      .Content__box__list
        .ContentBox
          %a.ContentBox__main__text{:href => "#"}
            久留米附設高校
          .ContentBox__kaisei
      .Content__box__more
        .Content__box__more__btn
          %a.Content__box__more__btn{:href => "#"}
            すべてみる
  .Contact
    .comment-form-text
      各高校の青春体験談、あるあるネタを募集します！
    .comment-form-box
      .comment-form-box-label_company
        高校名
      %input#company.company{:name => "company", :placeholder => "例) 久留米附設高等学校", :size => "60", :type => "text", :value => ""}/
    .comment-form-box_comment
      .comment-form-box-label_comment
        あなたの体験談
      %textarea#comment.comment{:cols => "50", :name => "comment", :placeholder => "あなたの体験談を教えてください♪", :rows => "5"}
    %input.submit{:href => "#", :disabled => "disabled", :name => "submit", :type => "submit", :value => "送信"}/


